main {
    margin: 9rem auto 1rem;
    border: 1px solid var(--grey600);
    border-radius: var(--radius-default1);
    padding: 1rem;
    max-width: 18.75rem;
    width: 100%;
    gap: 1rem;
}

main form {
    gap: 0.625rem;
}

aside {
    margin: 0 auto;
    max-width: 18.75rem;
}

aside section {
    position: absolute;
    top: 36px;
    max-width: 18.75rem;
    width: 85%;
    min-width: 15.6rem;
}

aside div {
    max-width: 300px;
}

#button-return {
    display: none;

}

#button-return button {
    font-size: 0.875rem;
}

form .button-default {
    width: 100%;
}

@media (min-width: 37.5rem) {
    body {
        display: flex;
        gap: 2rem;
    }

    main,
    aside {
        max-width: 23.125rem;
        width: 50%;
    }

    main {
        padding: 2.75rem 1.5rem;
        gap: 1.625rem;
    }

    main form {
        gap: 1.625rem;
    }

    aside {
        gap: 1.5rem;

    }

    aside div img {
        width: 100%;
    }

    aside section {
        position: unset;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    aside section h1,h2 {
        font-weight: 600;
        font-size: 2rem;
    }

    #button-return {
        display: block;
    }

}

@media (max-width: 18.75rem) {
    body {
        padding: unset;
    }

    main {
        margin: 10rem 0 1rem;
        border: none;
    }

    aside section {
        width: 100%;
        min-width: unset;
    }

    aside div img {
        width: 100%;
    }

}