body {
    gap: 2rem;
}

header {
    max-width: 18.75rem;
    width: 100%;
    gap: 2rem;
}

header h2 {
    background-color: var(--grey800);
}

main {

}

@media (min-width: 35rem) {
    body {
        
    }

    header {
        max-width: unset;
    }

    header figure {
        position: relative;
        
    }

    #avatar-img {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        overflow: hidden;
    }

    #avatar-img img {
        width: 100%;
    }

    .logout {
        border-radius: var(--radius-default1);
        background-color: var(--grey900);
        box-shadow: 5px 5px 15px 5px #000000;
        position: absolute;
        right: 0;
        top: 42px;
        width: 13.5rem;
        padding: 1rem;
        display: none;        
    }

    .logout > button {
        opacity: 0.5;
        background-color: transparent;
        border: none;

    }

    .logout > button:hover {
        opacity: 1;
    }

    header figure:hover > .logout {        
        display: block;
    }

    ul figure {
        width: 41px;
        height: 41px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
    }
    
    ul figure img {
        width: 100%;
        object-fit: cover;
    }

    dialog {
        width: 50rem;
        border-radius: var(--radius-default2);
        border: none;
        margin: 0 auto;
        position: fixed;
        top: 20rem;
        padding: 2rem;
    }
}
    
