@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
button {
    border-radius: var(--radius-default1);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 7px;
    cursor: pointer;
}

.button-default {
    border: 1px solid var(--grey600);
    background-color: transparent;
    color: var(--grey100);    
}

.button-default:hover {
    background-color: var(--grey800);
}

.button-brand {
    background-color: var(--brand100);
    color: var(--grey900);
    border-color: var(--brand100);
}

.button-brand:hover {
    background-color: var(--brand200)
}

.button-modal {
    background-color: transparent;
    border: none;
    color: var(--brand100);   
    width: max-content; 
}

.button-modal:hover {
    text-decoration: underline;
}

.button-remove {
    background-color: var(--grey600);
    border: 1px solid var(--grey600);
    color: var(--grey500);
}

.button-remove:hover {
    color: var(--grey300);
}