.font1 {
    font-weight: 600;
    font-size: 2rem;    
}

.font2 {
    font-weight: 500;
    font-size: 1.5rem;    
}

.font3 {
    font-weight: 500;
    font-size: 1.25rem;    
}

.font4 {
    font-weight: 400;
    font-size: 1rem;
}

.font5 {
    font-weight: 400;
    font-size: 0.875rem;
}

.font-semi5 {
    font-weight: 500;
    font-size: 0.875rem;
}